:root{
    --primary-bg: #222222;
    --secondary-bg: #f4f4f4;
    --third-bg: #7685F8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 15px;
    background: var(--secondary-bg);
}

/* backdrop */
.backdrop{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: -700px;
    background: var(--primary-bg);
    opacity: 0.7;
    z-index: 3;
}
.backdrop.active{
    opacity: 0.7;
    left: 0;
}

/* sidenav */
.sidenav{
    background: var(--primary-bg);
    width: 80%;
    position: fixed;
    top: 0;
    left: -700px;
    height: 100vh;
    padding: 20px 40px;
    font-size: 20px;
    opacity: 1;
    z-index: 5;
    transition: all .5s ease;
}
.sidenav.active{
    opacity: 1;
    left: 0;
}
.sidenav nav ul{
    list-style: none;
}
.sidenav p{
    color: #ffffff;
    margin-bottom: 100px;
}
.sidenav a{
    z-index: 5;
    color: #ffffff;
    text-decoration: none;
    transition: .5s ease;
}
.sidenav a:hover{
    color: var(--third-bg);
}
.sidenav ul li{
    margin-bottom: 20px;
}
.sidenav hr{
    opacity: 0.2;
    width: 100%;
    margin-bottom: 20px;
}
.sidenav .social-icons a i{
    font-size: 20px;
    margin-right: 8px;
    margin-top: 8px;
}
.sidenav .copyright{
    margin: 40px 0 0;
    opacity: 0.2;
    font-size: 15px;
}
.sidenav .version{
    margin: 0;
    opacity: 0.2;
    font-size: 10px;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--third-bg);
  }

/* Footer */

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #ffffff;
    /* display: flex;
    justify-content: space-around; */
}
footer nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 40px;
}
footer nav ul li{
    padding: 10px 0;
}
footer nav ul li i{
    font-size: 20px;
    margin-bottom: 5px;
}
footer nav ul li a{
    color: var(--primary-bg);
    text-decoration: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav ul li a.active{
    color: var(--third-bg);
}
footer nav ul li i.active{
    color: var(--third-bg);
}


/* header */

header{
    padding: 8px 40px;
    background: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header i{
    font-size: 20px;
    color: var(--secondary-bg);
    cursor: pointer;
}
.profile img{
    height: 45px;
    border-radius: 100px;
}

.container{
    width: 82%;
    margin: 0 auto;
}

/* home page */

.home{
    margin-top: 150px;
}
.home h1{
    font-size: 40px;
}
.home p{
    line-height: 47px;
}
.work{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.work a{
    color: var(--third-bg);
    text-decoration: none;
}

/* img */
.container-img{
    display: flex;
    overflow-x: scroll;
}
.container-img img{
    height: 300px;
    border-radius: 16px;
    margin: 10px 10px 0 0;
}



/* Projects page */
.projects{
    margin-top: 100px;
}
.projects h5{
    font-size: 20px;
    font-weight: 100;
}
.project{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.img-project{
    margin-top: 20px;
    padding-bottom: 100px;
}
.project a img{
    height: 267px;
    border-radius: 16px;
}
.project a {
    color: var(--primary-bg);
    text-decoration: none;
    transition: .5s ease;
    font-size: 15px;
    margin: 20px 0;
}
.project a p{
    margin-top: 10px;
}
.project a:hover{
    color: var(--third-bg);
}

@media only screen and (min-width: 100px) and (max-width:440px){
    .project{
        grid-template-columns: 1fr;
    }
}

/* large screen */
@media only screen and (min-width: 600px){
    .backdrop,
    .sidenav{
        display: none;
    }
}